.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: green;   
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;     
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
}
#comment
{
    display: none;
    font-size: 72px;
}

.overlay
{
    position: absolute;
    width:98.5vw;
    height:98vh;
    z-index:9999;
    background-color: rgba(44, 46, 46, 0.671);
    align-items: center;
    text-align: center;
    display: none;

}
.overlay button
{
    padding:10px;
    background-color:blue;
    color:#fff;
}
